.bookListContainer .border-bottom:last-child {
  border-bottom: none !important;
}

@media screen and (max-width: 360px) {
  .bookListBox {
    margin-left: 10px !important;
    margin-right: 10px !important;
    font-size: 14px;
  }
}
