.stickyFooter {
  height: 120px;
}

@media screen and (max-width: 360px) {
  .stickyFooter {
    font-size: 14px;
  }
}

@media screen and (max-width: 335px) {
  .stickyFooter {
    font-size: 13px;
  }
}
